 <% provide(:title, "Contact") %>
 <!DOCTYPE html>
 <html>
  <head>
    <title><% yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
   <h1>Contact</h1>
   <p>
    Contact the Ruby on Rails Tutorial about the Sample App at the
    <a href="http://www.railstutorial.org/contact">contact page</a>.
   </p>
  </body>
 </html>