<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>
          
    <h2>
      This is the home page for
      <a href="http://www.rubyonrailstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>
          
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> 
  </div>
        
  <%= link_to image_tag("rails.png", alt: "Rails Logo"), 'http://www.rubyonrails.org' %>
  <%#= link_to image_tag("kitten.jpg", alt: "Kitten picture") %>
<% end %>