 <% provide(:title, "Root") %>
 <!DOCTYPE html>
 <html>
  <head>
    <title><% yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
   <h1>Root</h1>
   <p>
    The root <a href="http://www.railstutorial.org/"><em>Ruby on Rails tutorial</em></a>
   </p>
  </body>
 </html>