<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |foockbar| %>
    
      <%= foockbar.label :email %>
      <%= foockbar.email_field :email, class: 'form-control' %>
    
      <%= foockbar.label :password %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= foockbar.password_field :password, class: 'form-control' %>
      
      <%= foockbar.label :remember_me, class: "checkbox inline" do %>
        <%= foockbar.check_box :remember_me %>
        <span>Remember me</span>
      <% end %>  
    
      <%= foockbar.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>