<% provide(:title, "Forgot password") %>
<h1>Forgot password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |foockbar| %>
    <%= foockbar.label :email %>
    <%= foockbar.email_field :email, class: 'form-control' %>
    
    <%= foockbar.submit "Submit", class: "btn btn-primary" %>
    <% end %>  
  </div>
</div>