<%= form_for(@user) do |foockbar| %>
  <%= render 'shared/error_messages', object: foockbar.object %>

  <%= foockbar.label :name %>
  <%= foockbar.text_field :name, class: 'form-control' %>

  <%= foockbar.label :email %>
  <%= foockbar.email_field :email, class: 'form-control' %>

  <%= foockbar.label :password %>
  <%= foockbar.password_field :password, class: 'form-control' %>

  <%= foockbar.label :password_confirmation %>
  <%= foockbar.password_field :password_confirmation, class: 'form-control' %>

  <%= foockbar.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>