<%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
             html: { method: :delete },
             remote: true) do |foockbar| %>
  <%= foockbar.submit "Unfollow", class: "btn" %>
<% end %>