<li>
  <%= gravatar_tag user, size: 100 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
   | <%= link_to "delete", user, method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>  
</li>